.sectionHead{
    display: flex;
    &__aside{
        width: 40%;
        display: flex;
        align-items: center;
        &__col{
            margin: 0 10rem 0 8rem;
            &--exp{
                font-family: $font-inter;
                font-weight: 600;
                text-transform: uppercase;
                color: $color-base;
                font-size: 1.5rem;
            }
            h1{
                font-family: $font-poppin;
                font-size: 5rem;
                font-weight: 500;
                line-height: 6rem;
            }
            &--descri{
                font-family: $font-inter;
                font-size: 2rem;
                color: rgba(black, .8);
            }
        }
    }
    &__article{
        width: 60%;
        position: relative;
        img{
            width: 100%;
        }
        p{
            position: absolute;
        }
        &--soporte{
            background-color: $color-base;
            color: white;
            font-family: $font-poppin;
            bottom: 0;
            padding: 6rem 5rem;
            font-size: 2.2rem;
            font-weight: 500;
            span{
                display: block;
            }
        }
    }
}