/* RESETEO */
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* NAV */
nav{
    /* background-color: #4d4d4d; */
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* font-size: 50px; */
    position: fixed;
    width: calc(100% - 40px);
    align-items: center;
}
nav ul{
    display: flex;
}
nav ul li a{
    /* color: white; */
    /* color: #ffffff; */
    color: rgb(255,255,255);
    font-family: 'Poppins', sans-serif;
    /* text-decoration: none; */
    /* padding: 15px; un solo valor son los 4 lados */
    /* padding: 10px 15px; 1er ariba y abajo, izquierda derecha */
    /* padding: 10px 25px 5px 35px; */
    padding: 10px 20px;
    display: inline-block;
}

/* ⚡⚡ SECTION ⚡⚡ */
/* section{
    display: flex;
} */
.sectionHead{
    display: flex;
}

.sectionHead aside{
    display: flex;
    align-items: center;
}

.sectionHead aside img{
    /* height: 310px; */
}

.sectionHead aside section{
    /* padding: 0 100px 0 80px; */
    margin: 0 100px 0 80px;
}

.experiencia{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #176bfb;
    font-size: 15px;
}
.sectionHead aside section h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    /* margin: 30px 0; */
    /* margin: 30px 0 30px 0; */
    margin-top: 30px;
    margin-bottom: 30px;
}
.expDescri{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: rgba(0,0,0,.8);
}
.sectionHead aside section a{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    display: inline-block;
    background-color: #007aff;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    margin-top: 60px;
    font-size: 14px;
}
.sectionHead aside section a i{
    margin-left: 10px;
}

.soporte{
    background-color:#1268fb;
    color: white;
}