@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a,
a:link,
a:visited {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

img {
  display: block;
}

/* 🔥🔥 VARIABLES 🔥🔥 */
/*🔥🔥 CLASES CONSTANTES 🔥🔥*/
.btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
}
.btn i {
  margin-left: 1rem;
}

.btn-base {
  background-color: #1268fb;
  color: white;
  transition: all 0.3s;
}
.btn-base:hover {
  background-color: #007aff;
  transition: all 0.3s;
}

.btn-verdecito {
  background-color: #1abc9c;
  color: #ecf0f1;
}

.centrar-bloque {
  margin-left: auto;
  margin-right: auto;
}

.contenedor-max {
  max-width: 192rem;
}

.contenedor-medium {
  max-width: 120rem;
}

.bg-base {
  background-color: #1268fb;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pt-7 {
  padding-top: 7rem;
}

.pt-8 {
  padding-top: 8rem;
}

.pt-9 {
  padding-top: 9rem;
}

.pt-10 {
  padding-top: 10rem;
}

.pt-11 {
  padding-top: 11rem;
}

.pt-12 {
  padding-top: 12rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.pb-9 {
  padding-bottom: 9rem;
}

.pb-10 {
  padding-bottom: 10rem;
}

.pb-11 {
  padding-bottom: 11rem;
}

.pb-12 {
  padding-bottom: 12rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pl-5 {
  padding-left: 5rem;
}

.pl-6 {
  padding-left: 6rem;
}

.pl-7 {
  padding-left: 7rem;
}

.pl-8 {
  padding-left: 8rem;
}

.pl-9 {
  padding-left: 9rem;
}

.pl-10 {
  padding-left: 10rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pr-6 {
  padding-right: 6rem;
}

.pr-7 {
  padding-right: 7rem;
}

.pr-8 {
  padding-right: 8rem;
}

.pr-9 {
  padding-right: 9rem;
}

.pr-10 {
  padding-right: 10rem;
}

.menu {
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 1.5rem 2rem;
}
.menu__contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__contenedor__menuBox {
  display: flex;
}
.menu__contenedor__menuBox__item--link {
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}
.menu__contenedor__menuBox__item--link:hover {
  color: #00e5c2;
  border-bottom: 0.3rem solid #00e5c2;
  transition: all 0.3s;
}
.menu__contenedor__menuBox__item--link.active {
  color: #00e5c2;
  border-bottom: 0.3rem solid #00e5c2;
}

.sectionHead {
  display: flex;
}
.sectionHead__aside {
  width: 40%;
  display: flex;
  align-items: center;
}
.sectionHead__aside__col {
  margin: 0 10rem 0 8rem;
}
.sectionHead__aside__col--exp {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #1268fb;
  font-size: 1.5rem;
}
.sectionHead__aside__col h1 {
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  font-weight: 500;
  line-height: 6rem;
}
.sectionHead__aside__col--descri {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.8);
}
.sectionHead__article {
  width: 60%;
  position: relative;
}
.sectionHead__article img {
  width: 100%;
}
.sectionHead__article p {
  position: absolute;
}
.sectionHead__article--soporte {
  background-color: #1268fb;
  color: white;
  font-family: "Poppins", sans-serif;
  bottom: 0;
  padding: 6rem 5rem;
  font-size: 2.2rem;
  font-weight: 500;
}
.sectionHead__article--soporte span {
  display: block;
}
.sectionHead__article--apple, .sectionHead__article--time {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem 2rem 2rem;
  font-family: "Poppins", sans-serif;
  bottom: 3rem;
}
.sectionHead__article--apple span, .sectionHead__article--time span {
  width: 13rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}
.sectionHead__article--apple i, .sectionHead__article--time i {
  font-size: 5rem;
  margin-bottom: 2rem;
}
.sectionHead__article--apple {
  background-color: white;
  left: 50%;
}
.sectionHead__article--time {
  left: 66%;
  background-color: #1268fb;
  color: white;
}

.servicios__contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.servicios__contenedor__item {
  width: calc(33.3333333333% - 1.3333333333rem);
  background-color: #1f72ff;
}
.servicios__contenedor__item h2 {
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.5;
}
.servicios__contenedor__item p {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.5rem;
}
.servicios__contenedor__item span {
  color: #03d7d1;
  font-size: 1.8rem;
  display: inline-block;
}
.servicios__contenedor__item div img {
  width: 100%;
}

/*# sourceMappingURL=estilos.css.map */
